
  
.button 
  border: 0.2em solid #ddd;
  margin-right: 0.2em;
  display: inline-block;
  background-color: #ddd;
  padding: 0.15em 0.5em;
  border-radius: 0.5rem;
  font-weight: bold;
  &.router-link-exact-active 
    border-color: #aaa;
  &:hover 
    opacity: 0.5;

.button.button--signup 
  font-weight: bold;
  padding: 0.15em 0.5em;
  border: 0;
  margin-right: 0.5rem;
  background-color: #ffdc00;







