.teaser-kitawo
  margin-bottom: 1rem;

.teaser-kitawo__header
  background-color: #eee;
  border-radius: 0.5rem;
  width:100%;
  padding: 1rem;

.teaser-kitawo__place
  padding: 0.05em 0.5em;
  background-color:#ddd
  font-weight: 500;
  margin-bottom:0.5rem;
  display:inline-block;
  border-radius: 1em;

.teaser-kitawo__date
  margin-bottom:0.5rem;
  display: inline-block;
  font-weight: 500;
  padding: 0.05em 0.5em;
  border-radius: 1em;



.teaser-kitawo__location
  margin-bottom:0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.05em 0.5em;
  border-radius: 1em;


.teaser-kitawo__location--is-fs
  background-color: #c6ebf9;
.teaser-kitawo__location--is-smh
  background-color:#fbeb6c;

.teaser-kitawo__date 
  background-color: #DDD;


.teaser-kitawo__heading 
  display: block;
  margin-bottom:0rem;
  margin-top:0;


.teaser-kitawo--is-highlight .teaser-kitawo__header
  box-shadow: 
    -0.3rem 0.3rem 0 #FFDC00,
    -0.6rem 0.6rem 0 #FF851B,
    -0.8rem 0.8rem 0 #FF4136;
