.header {
  .content.head {
    margin-bottom: 1rem;
  }

  h1 {
    margin: 0;
  }
}

.location, .signup {
  font-weight: bold;
  padding: 0rem 0.5rem;
  color: inherit;
  border-radius: 0.5rem;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}

.signup {
  background-image: linear-gradient(0.25turn, #ffe974, gold);
  background-color: gold;
}

.location {
  background: lightblue;
}

.info {
  background: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
}

.info--signup {
  background-image: linear-gradient(0.25turn, #fff2ac, #fffade);
}