
.room-status 
  background-color: #aaa;
  display: inline-block;
  font-weight: bold;
  padding: 0.05em 0.5em;
  border-radius: 1em;
  margin-right: .5em;

.room-status--is-open {
  background-color: #7ad384;
}