.page-header {
  padding-top: 2rem;
  text-align: right;
  margin-bottom: 1.5rem;
}

.page-header__logo {
  max-width: 7rem;
  margin-left: -0.85rem;
  margin-bottom: 2rem;
}

.page-header__nav {
  text-align: left;
  padding-bottom: 0.5rem;

  @media (min-width: 500px) {
    margin-top: -5rem;
  }

  .button {
    margin-right: 0.5rem;
    margin-bottom:0.5rem;
  }
}