.easter-invader
  display:block;
  padding-top:1rem;
  font-weight:500;
  padding-bottom:1rem;
  padding-left:1rem;
  padding-right:1rem;
  width:100%;
  border-radius:0.5rem;
  background-color:#F7D573;

  a
    font-weight:bold;
    background-color:#def3fb;