
.page-footer 
  background-color: #eee;
  margin-top: 2rem;
  padding-top: 2rem;

.page-footer__content 
  display: flex;
  flex-wrap: wrap;

.page-footer__column 
  min-width: 200px;
  margin-bottom: 1rem;
  flex: 1;
  display: inline-block;
  vertical-align: top;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  a 
    display: inline-block;
    margin-bottom: 0.5rem;

.page-footer .button 
  margin-bottom: 0.5rem;
