a
  font-weight: bold;
  padding: 0rem 0.5rem;
  color: inherit;
  border-radius: 0.5rem;
  text-decoration: none;
  background: #ccc;
  &:hover 
    opacity: 0.5;

a[target="_blank"]
  font-weight: normal;
  &::after 
    content: "->";
  .outbound 
    display: none;